@model CryptoInvestment.ViewModels.Authentication.SecurityQuestionsViewModel

<div class="wrapper animated fadeInRight" style="padding: 80px 10px 40px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <form id="securityQuestionsForm" asp-action="SecurityQuestions" asp-controller="Authentication" method="post" class="wizard-big">
                        <input type="hidden" asp-for="CustomerId" />
                        <h1>Primera Pregunta</h1>
                        <fieldset>
                            <h2 class="m-b-md">Primera Pregunta de Seguridad</h2>
                            <div class="form-group">
                                <select asp-for="FirstQuestionId" class="form-control" style="border-radius: 6px; height: 40px" required>
                                    <option value="">Seleccione una pregunta</option>
                                    @foreach (var item in Model.SecurityQuestions.Where(q =>
                                                  q.IdSecurityQuestion != Model.FirstQuestionId &&
                                                  q.IdSecurityQuestion != Model.SecondQuestionId &&
                                                  q.IdSecurityQuestion != Model.ThirdQuestionId))
                                    {
                                        <option value="@item.IdSecurityQuestion">@item.Question</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="FirstQuestionId"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="FirstQuestionAnswer" type="text" class="form-control" placeholder="Respuesta de la pregunta 1" required />
                                <span class="text-danger" asp-validation-for="FirstQuestionAnswer"></span>
                            </div>
                        </fieldset>

                        <h1>Segunda Pregunta</h1>
                        <fieldset>
                            <h2 class="m-b-md">Segunda Pregunta de Seguridad</h2>
                            <div class="form-group">
                                <select asp-for="SecondQuestionId" class="form-control" style="border-radius: 6px; height: 40px" required>
                                    <option value="">Seleccione una pregunta</option>
                                    @foreach (var item in Model.SecurityQuestions.Where(q =>
                                                  q.IdSecurityQuestion != Model.FirstQuestionId &&
                                                  q.IdSecurityQuestion != Model.SecondQuestionId &&
                                                  q.IdSecurityQuestion != Model.ThirdQuestionId))
                                    {
                                        <option value="@item.IdSecurityQuestion">@item.Question</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="SecondQuestionId"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="SecondQuestionAnswer" type="text" class="form-control" placeholder="Respuesta de la pregunta 2" required />
                                <span class="text-danger" asp-validation-for="SecondQuestionAnswer"></span>
                            </div>
                        </fieldset>

                        <h1>Tercera Pregunta</h1>
                        <fieldset>
                            <h2 class="m-b-md">Tercera Pregunta de Seguridad</h2>
                            <div class="form-group">
                                <select asp-for="ThirdQuestionId" class="form-control" style="border-radius: 6px; height: 40px" required>
                                    <option value="">Seleccione una pregunta</option>
                                    @foreach (var item in Model.SecurityQuestions.Where(q =>
                                                  q.IdSecurityQuestion != Model.FirstQuestionId &&
                                                  q.IdSecurityQuestion != Model.SecondQuestionId &&
                                                  q.IdSecurityQuestion != Model.ThirdQuestionId))
                                    {
                                        <option value="@item.IdSecurityQuestion">@item.Question</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="ThirdQuestionId"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="ThirdQuestionAnswer" type="text" class="form-control" placeholder="Respuesta de la pregunta 3" required />
                                <span class="text-danger" asp-validation-for="ThirdQuestionAnswer"></span>
                            </div>
                        </fieldset>
                    </form>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/iCheck/custom.css" />
        <link rel="stylesheet" href="~/lib/steps/jquery.steps.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/steps/jquery.steps.min.js"></script>
    </environment>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#securityQuestionsForm").steps({
                headerTag: "h1",
                bodyTag: "fieldset",
                transitionEffect: "fade",
                autoFocus: true,
                labels: {
                    cancel: "Cancelar",
                    current: "Actual",
                    finish: "Finalizar",
                    next: "Siguiente",
                    previous: "Anterior",
                    loading: "Cargando..."
                },
                onStepChanging: function (event, currentIndex, newIndex) {
                    if (currentIndex > newIndex) {
                        return true;
                    }
                    var form = $(this);
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    $(this).submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    error.insertBefore(element);
                }
            });
        });
    </script>
}
