@model CryptoInvestment.ViewModels.Deposit.InvPlanViewModel

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Title = "GHR I & T";
}

<div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <h1>Iniciar Inversión</h1>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            @foreach (var invPlan in Model.InvPlans)
            {
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <label class="inv-plan-id" style="display: none">@invPlan.IdInvPlans</label>
                            <div class="product-imitation">
                                <h1>
                                    <strong>@invPlan.PlanName</strong>
                                </h1>
                            </div>
                            <div class="product-desc">
                                <span class="product-price">
                                    @invPlan.ProfitPercentage %
                                </span>
                                <a href="#" class="product-name">
                                    @{
                                        var profit = invPlan.MinAmount * invPlan.ProfitPercentage / 100 * int.Parse(invPlan.MonthsInvested);
                                        var formattedProfit = string.Format(System.Globalization.CultureInfo.GetCultureInfo("en-US"), "{0:C2}", profit);
                                    }
                                    <label>Beneficio Mínimo @formattedProfit</label>
                                </a>
                                <div class="small m-t-xs">
                                    Duración de la inversión @invPlan.MonthsInvested mes
                                </div>
                                <div class="m-t text-right">
                                    <form asp-action="DepositWizard" asp-controller="Crypto" method="post" style="display: inline;">
                                        <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
                                        <input type="hidden" name="InvPlanId" value="@invPlan.IdInvPlans" />
                                        <button type="submit" class="btn btn-xs btn-outline btn-primary start-today">
                                            Comenzar Hoy 
                                            <i class="fa fa-long-arrow-right"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
